.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--background);
    color: var(--primary);
    font-size: var(--regular);
}

.header_logo {
    width: 200px;
}

.header_logo img{
    width: 100%;

}

.header_notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_notification i {
    font-size: 1.25rem;
    margin: 0 1rem;
}

.header_notification .person {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header_notification .person img {
    width: 100%;
}

.image  {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    background-image: url('../images/07-b.jpeg');
}

.horizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.vertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    color: #fff;
    padding: 15rem 0 0 2rem;
}

.name {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.info {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin: 4rem 0;
    display: flex;
    align-items: center;
}

.year {
    color: #46d369;
    margin: 0 1rem 0 0;
}

.seasons {
    margin: 0 1rem 0 0;
}

.description {
    margin: 2rem 0;
    padding: 0 50rem 0 0;
    font-size: 1.5rem;
    text-align: justify;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons button {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    padding: 1.25rem 3rem;
    margin: 0 1rem 0 0;
    background: linear-gradient(to right, #c7c5c6 30%, #eee 70%);
    border: none;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

.buttons button i {
   font-size: 1.5rem;
   color: #000;
   margin: 0 1rem 0 0;
}

.buttons i {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem 0 2rem;
}

.bt {
    margin-right: 8px;
}

.genres {

}

.colors_bg {
    background: #111;
    margin-top: -10rem;
}


.movie_container h5 {
    color: var(--primary);
    font-size: var(--larger);
    padding: var(--padding);
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " gt gr ge gw ";
}

.movie_1 {
    grid-area: gt;
    cursor: pointer;
}

.movie_1 img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_1 img:hover {
    transform: scale(1);
}

.movie_2 {
    grid-area: gr;
    cursor: pointer;
}

.movie_2 img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_2 img:hover {
    transform: scale(1);
}

.movie_3 {
    grid-area: ge;
    cursor: pointer;
}

.movie_3 img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_3 img:hover {
    transform: scale(1);
}

.movie_4 {
    grid-area: gw;
    cursor: pointer;
}

.movie_4 img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_4 img:hover {
    transform: scale(1);
}

.movie_container_play {
    padding: var(--padding);
}

.movie_container_play h5 {
    color: var(--primary);
    font-size: var(--larger);
    padding: var(--padding) 0;
}

.movies_play {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " gt gr ";
}

.movie_1_play {
    grid-area: gt;
    cursor: pointer;
}

.movie_1_play img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_1_play img:hover {
    transform: scale(1);
}

.movie_2_play {
    grid-area: gr;
    cursor: pointer;
}

.movie_2_play img {
    width: 100%;
    border-radius: 0.5rem;
    transition: all ease .5s;
    transform: scale(0.9);
}

.movie_2_play img:hover {
    transform: scale(1);
}

.list_container {
    padding: var(--padding);
}

.list_container a {
    font-size: var(--x--larger);
    cursor: pointer;
    color: var(--gray);
}

.active{
    border-bottom: 3px solid var(--primary);
    color: var(--primary) !important;
}

.links:hover {
    color: var(--gray--ligther);
}

@media (max-width: 1024px) {  
.movies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    " gt gr "
    " ge gw ";
}

.movies_play {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: " gt gr ";
}
}

@media (max-width: 475px) { 
    .header_container {
        display: none;
    }

    .main_container img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    .list_container a {
        font-size: var(--regular);
        cursor: pointer;
        color: var(--gray);
    }

    .movie_container {
        padding: 0;
    }

    .movies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        " gt "
        " gr "
        " ge "
        " gw ";
    }

    .movies_play {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        " gt "
        " gr ";
    }
}

.container_iframe {
    background: #000;
    width: 100%;
}

.trailer {
    width: 100%;
    height: 50vw;
    max-width: 100vw;
    max-height: 100vw;   
}

